$navBgColor: #222;
$navColor: #bbb;
$navLinkHover: white;
$logoSize: 4.5em;
$padding100px: 80px;
$bgImage: url('https://images.pexels.com/photos/1223649/pexels-photo-1223649.jpeg');
$cover: cover;
$color: #efefef;
$heigth200: 200px;
$position: relative;
$black: #000;
$zIndexM2: -2;
$zIndexM1: -1;
$opacity: 0.3;
$absolute: absolute;
$zero: 0;
$noRepeat: no-repeat;
$fixed: fixed;
$bottom: bottom;

  
